.item-detail {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 30px;
  }
  
  .item-detail__image {
    padding: 40px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .item-detail__price {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: #333;
  }
  
  h3 {
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

  .item-detail__quantity-controls {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .item-detail__quantity-controls button {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
  }
  
  .item-detail__add-to-cart {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .item-detail__add-to-cart:hover {
    background-color: #e0e0e0;
    color: #333;
  }
  
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 1s ease;
}

.modal-overlay.show .modal-content {
  transform: translateY(0);
}

.modal-image {
  width: 200px;
  height: auto;
  padding: 10px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #4B0E0E;
}

.modalTitle{
  font-size: 20px;
}

.modalText{
  font-size: 16px;
}