.navbar {
  background-color: #F5F5DC !important;
}

.navbar-logo {
  width: 100px;
  height: auto;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-nav {
  margin-left: auto;
  font-size: 20px !important;
  gap: 30px;
}

.navbar-nav .nav-link {
  color: #4B0E0E !important;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 0.25rem;
  text-decoration: none;
}

.navbar-toggler {
  border: 1px solid #4B0E0E !important;
}

.navbar-toggler-icon {
  background-color: #4B0E0E;
}

.navbar-toggler::after {
  font-family: 'FontAwesome';
  font-size: 1.5em;
  color: #4B0E0E;
}

body {
  padding-top: 100px;
}
